body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: orchid;
}

.card {
  width: 60%;
  height: 800px;
  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(red, green, blue, alpha);
  margin: 20px auto;
  padding: 20px;
}

.input {
  width: 90%;
  height: 50px;
  outline: none;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 24px;
  font-style: italic;
}

.container {
  display: flex;
  gap: 15px;
}

.btn {
  outline: none;
  background-color: orchid;
}

.todo_container {
  margin-top: 30px;
  width: 100%;
}

.todo_list {
  height: 60px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.268);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.delet {
  height: 30px;
  width: 30px;
  outline: none;
  background-color: aqua;
  cursor: pointer;
  text-align: justify;
  padding-right: 35px;
  border-radius: 20px;
}
h1 {
  text-align: center;
}
